.contact {
    height: 50vh;
}

.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-link {
    color: #000;
    margin: 0 10px;
}

.contact-link:hover {
    color: #c4f1f4;
    transform: scale(1.1); /* Slightly increase the size on hover */
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  