.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    height: 100vh;
    /* width: 100%; */
    padding-top: 1%;
}

.left {
    grid-column: 1 / 4;
    padding: 2%;
    overflow: visible;
}


.right {
    /* height: 75vh; */
    grid-column: 4 / 11;
    min-width: 0;

}

.intro {
    padding-top: 12%;
    /* padding-left: 40%; */
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    /* font-style:  */
}

.name {
    font-size: 3.4rem;
    font-variation-settings: 'wght' 450;
    margin-top: -6%;
    margin-bottom: -3%;
}

.hello {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    margin-right: 24.8%;
    color: rgb(238, 229, 229)
}

/* .intro-text {
    grid-column: 2;
} */
.text-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    /* padding-left: 10%; */
}